{% extends 'materials/base.html' %}

{% block title %}
    {{ name }} - {{ block.super }}
{% endblock %}

{% block content %}
<h1 class="mb-5">{{ name }}</h1>
    {% for material in page_object.object_list %}
        <div class="card mb-4">
          <h5 class="card-header">Тип: {{ material.material_type }}; автор: {{ material.author }}; дата публикации: {{ material.date_pub }}</h5>
          <div class="card-body">
            <h5 class="card-title">{{ material.title }}</h5>
            <p class="card-text">{{ material.body|truncatewords:20 }}</p>
            <a href="{{ material.get_absolute_url }}" class="btn btn-primary">Читать</a>
          </div>
          <div class="card-footer text-muted">
              Пока это заготовка
          </div>
        </div>
    {% endfor %}

{% endblock %}